<div class="evento mat-card-blurred mat-card">
  <div class=" nome">
    <section class="titulo">{{ evento.titulo }}</section>
    <div class="linha"></div>
    <div>
      <div class="alinhamento">
        <mat-icon class="mat-icon material-icons ">calendar_today</mat-icon>
        <section class="data">{{ evento.data }}</section>
      </div>
      <div class="alinhamento">
        <mat-icon class="mat-icon material-icons ">schedule</mat-icon>
        <section class="data">{{ evento.hora }}</section>
      </div>
      <div class="alinhamento">
        <mat-icon class="mat-icon material-icons">room</mat-icon>
        <section class="local">{{ evento.local }}</section>
      </div>
    </div>
  </div>
</div>
