@import "../../../../assets/styles/base/mixins";

.mat-card {
  padding: 0;
}

.colaboradores {
  overflow: hidden;
  height: 100%;
  width: 100%;

  .colaborador {
    position: relative;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }

    img {
      transform: translateX(-50%);
      margin-left: 50%;
      height: 100%;
    }

    .nome {
      position: absolute;
      text-align: center;
      font-weight: bold;
      padding: 16px;
      font-size: 18px;
      margin: 0 auto;
      color: #fff;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .glide__track,
  .glide__slides,
  .glide__slide {
    overflow: hidden;
    height: 100%;
    @include transition();
  }

  &:hover {
    width: 100%;

    .glide__slide {
      flex: 1;

      &--clone {
        display: none;
      }
    }

    .glide__slides {
      transform: translate3d(0, 0, 0) !important;
      width: 100% !important;
    }
  }
}
