* {
  ::-webkit-scrollbar {
    margin-left: -2px;
    width: 4px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}
