@import "~@angular/material/theming";
@import "../theme-functions.scss";

$rubix-primary-colors: (
  50: #e6e6ec,
  100: #c1bfd0,
  200: #9895b1,
  300: #223f92,
  400: #4f4b7a,
  600: #2b265b,
  700: #2e6bb0,
  800: #05052f,
  900: #becf22,
  A100: #7c73ff,
  A200: #4c40ff,
  A300: #4cb6c4,
  A400: #1c0dff,
  A700: #1000f2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$rubix-accent-colors: (
  50: #ebfaff,
  100: #ccf3ff,
  200: #abecff,
  300: #becf22,
  400: #6fdeff,
  500: #56d8ff,
  600: #4fd4ff,
  700: #45ceff,
  800: #3cc8ff,
  900: #2bbfff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d8f2ff,
  A700: #beeaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$rubix-warn-colors: (
  50: #fbe8e7,
  100: #f5c5c2,
  200: #ee9e9a,
  300: #e77771,
  400: #e15952,
  500: #dc3c34,
  600: #d8362f,
  700: #d32e27,
  800: #ce2721,
  900: #c51a15,
  A100: #fff6f6,
  A200: #ffc4c3,
  A400: #ff9290,
  A700: #ff7976,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$rubix-attention-colors: (
  50: #fffee3,
  100: #fefcb9,
  200: #fefa8b,
  300: #fef85d,
  400: #fdf73a,
  500: #fdf517,
  600: #fdf414,
  700: #fcf211,
  800: #fcf00d,
  900: #fcee07,
  A100: #ffffff,
  A200: #fffef1,
  A400: #fffbbe,
  A700: #fff9a4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$rubix-success-colors: (
  50: #e4fcf0,
  100: #bbf7da,
  200: #8ef2c1,
  300: #60eca8,
  400: #3ee895,
  500: #1ce482,
  600: #19e17a,
  700: #14dd6f,
  800: #11d965,
  900: #09d152,
  A100: #fcfffd,
  A200: #c9ffda,
  A400: #96ffb7,
  A700: #7cffa5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$rubix-primary-palette: mat-palette($rubix-primary-colors);
$rubix-accent-palette: mat-palette($rubix-accent-colors);
$rubix-warn-palette: mat-palette($rubix-warn-colors);
$rubix-attention-palette: mat-palette($rubix-attention-colors);
$rubix-success-palette: mat-palette($rubix-success-colors);

$rubix-theme: gav-theme(
  $rubix-primary-palette,
  $rubix-accent-palette,
  $rubix-warn-palette,
  $rubix-attention-palette,
  $rubix-success-palette
);
