.seletor {
  display: flex;

  .mat-button {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    line-height: 1.25rem;
    margin-right: -1px;
    font-size: 0.5rem;
    font-weight: 800;

    .mat-button-ripple,
    .mat-button-focus-overlay {
      border-radius: 0;
    }

    &:first-child,
    &:first-child .mat-button-ripple,
    &:first-child .mat-button-focus-overlay {
      border-radius: 4px 0 0 4px;
    }

    &:last-child,
    &:last-child .mat-button-ripple,
    &:last-child .mat-button-focus-overlay {
      border-radius: 0 4px 4px 0;
    }
  }
}
