@import "../../../../assets/styles/theme/theme-variables.scss";

.fatos-relevantes {
  flex-direction: column;
  padding: 2.5rem 0 0;
  display: flex;
  height: 100%;

  .lista {
    padding: 0 2.5rem;
    overflow: auto;

    .fato-relevante {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding: 1.5rem 0;
      display: flex;
      margin: 0;

      .numero {
        margin-right: 1rem;
        font-weight: bold;
        font-size: 2rem;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
