@import "../../../../assets/styles/theme/theme-variables.scss";

@mixin led($nome) {
  background-color: var(--indicador-box-shadow-color-#{$nome});
  box-shadow: var(--indicador-box-shadow-color) 0 -1px 7px 1px,
    inset var(--indicador-box-shadow-color-#{$nome}-darken-full) 0 -1px 9px,
    var(--indicador-box-shadow-color-#{$nome}) 0 2px 12px;
  animation: blink-#{$nome} 1s infinite;
}

@mixin blink($nome) {
  @keyframes blink-#{$nome} {
    from {
      background-color: var(--indicador-box-shadow-color-#{$nome});
    }
    50% {
      background-color: var(
        --indicador-box-shadow-color-#{$nome}-darken-medium
      );
      box-shadow: var(--indicador-box-shadow-color) 0 -1px 7px 1px,
        inset var(--indicador-box-shadow-color-#{$nome}-darken-full) 0 -1px 9px,
        var(--indicador-box-shadow-color-#{$nome}) 0 1px 0;
    }
    to {
      background-color: var(--indicador-box-shadow-color-#{$nome});
    }
  }
}

@include blink("perigo");
@include blink("atencao");
@include blink("sucesso");

:host {
  display: block;
  height: 1rem;
  width: 1rem;
}

.indicador {
  border-radius: 50%;
  height: 100%;
  width: 100%;

  &.indicador--perigo {
    @include led("perigo");
  }

  &.indicador--atencao {
    @include led("atencao");
  }

  &.indicador--sucesso {
    @include led("sucesso");
  }

  &.indicador--desligado {
    @include led("sucesso");
  }
}
