@import "../../../../assets/styles/theme/theme-variables.scss";

.ritos {
  justify-content: flex-end;
  padding: 2.5rem;
  display: flex;

  .rito {
    border-right-style: solid;
    border-right-width: 1px;
    flex-direction: column;
    padding-right: 1rem;
    margin-right: 1rem;
    position: relative;
    display: flex;

    &:last-child {
      padding-right: 0;
      margin-right: 0;
      border: none;
    }

    .header {
      display: flex;

      .sigla {
        margin-bottom: 4px;
        font-weight: bold;
      }

      app-indicador {
        margin-left: 0.4rem;
      }
    }

    .data {
      font-size: 1.125rem;
    }
  }
}
