@import "../../../../assets/styles/theme/theme-variables.scss";

.tecnologias {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  .tecnologia {
    width: 48px;
    margin-right: 24px;
    img {
      width: 100%;
    }
  }
}

@supports (display: grid) {
  div.tecnologias {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 24px;
    grid-gap: 24px;

    .tecnologia {
      width: initial;
      margin-right: initial;
      img {
        width: 100%;
      }
    }
  }
}
