@import "../../../../assets/styles/theme/theme-variables.scss";

.plano-de-acoes {
  flex-direction: column;
  padding: 0 2.5rem;
  overflow-y: auto;
  display: flex;
  height: 100%;

  .acao {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    display: flex;

    &:last-child {
      border: none;
    }

    .conteudo {
      flex: 1;

      .descricao {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        display: block;
      }

      .responsavel-data {
        justify-content: space-between;
        font-size: 1rem;
        display: flex;
      }
    }

    mat-icon {
      margin-right: 1rem;
      font-size: 2rem;
    }

    &--concluida {
      .descricao {
        text-decoration: line-through;
      }
    }
  }
}
