@import "../../../assets/styles/theme/theme-variables.scss";

.okr {
  padding: 40px;
  .grid-objetivo {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 3rem;
    gap: 1rem 3rem;
    align-content: stretch;
    overflow: auto;

    .objetivo {
      & > p {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0.75rem 0;
      }
      .resultado-chave {
        margin-left: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: auto 40px;
        align-items: center;
        grid-gap: 5px 10px;
        gap: 5px 10px;
        .numero {
          grid-area: 1 / 1 / 2 / 2;
          font-size: 1.25rem;
        }
        .descricao {
          grid-area: 1 / 2 / 2 / 3;
          font-size: 0.85rem;
        }
        .progresso {
          grid-area: 2 / 1 / 3 / 2;
        }
        .track {
          grid-area: 2 / 2 / 3 / 3;
          display: flex;
          align-items: center;
          position: relative;
          height: 10px;
          &-barra {
            height: 75%;
            border-radius: 10px;
          }
          .cubo {
            position: absolute;
            width: 30px;
            height: 30px;
            background-size: contain;
            &.mounted {
              background-image: url("../../../assets/img/cube/mounted.png");
            }
            &.semimounted {
              background-image: url("../../../assets/img/cube/semimounted.png");
            }
            &.unmounted {
              background-image: url("../../../assets/img/cube/unmounted.png");
            }
          }
        }
      }
    }
  }
}
