@import "../../../assets/styles/theme/theme-variables.scss";

.navbar {
  justify-content: space-between;
  box-shadow: none;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;

  .link-menu {
    font-weight: bold;
  }

  .links {
    display: flex;
  }
}
