@import "~@angular/material/theming";
@import "../../../assets/styles/theme/theme-variables.scss";

@mixin gav-header-component-theme($theme) {
  app-header {
    .mat-toolbar.mat-primary.navbar {
      background-color: transparent;

      .link-menu {
        opacity: $text-opacity;

        &:hover {
          opacity: 0.8;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
