<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <button
    class="link-menu"
    mat-button
    routerLink="/"
    class="button-home"
    [disabled]="modoAutomaticoService.modoAutomatico"
    mat-icon-button
  >
    <img src="assets/img/logo.svg" alt="rubix" />
  </button>
  <div class="links">
    <ng-container *ngIf="!modoAutomaticoService.modoAutomatico">
      <button
        class="link-menu"
        mat-button
        routerLink="/squads"
        routerLinkActive="active"
      >
        <span>Squads</span>
      </button>
      <button
        class="link-menu"
        mat-button
        routerLink="/okrs"
        routerLinkActive="active"
      >
        <span>OKRs</span>
      </button>
      <button
        class="link-menu"
        mat-button
        routerLink="/eventos"
        routerLinkActive="active"
      >
        <span>Eventos</span>
      </button>
    </ng-container>
    <app-controle-modo-automatico></app-controle-modo-automatico>
  </div>
</mat-toolbar>
