<div class="burndown">
  <div class="informacoes-sprint" *ngIf="burndown">
    <span class="numero-sprint">Sprint {{ burndown.numeroSprint }}</span>
    <span class="situacao-atual">{{ burndown.situacaoAtual }} pts</span>
  </div>
  <div class="chart-container">
    <ngx-charts-area-chart
      class="chart-container"
      [curve]="curve"
      [results]="data"
    >
    </ngx-charts-area-chart>
    <svg xmlns="http://www.w3.org/2000/svg" height="0px">
      <linearGradient id="primary-gradient" x2="0" y2="1">
        <stop offset="0%" class="primary-gradient-start" />
        <stop offset="100%" class="gradient-end" />
      </linearGradient>
      <linearGradient id="accent-gradient" x2="0" y2="1">
        <stop offset="0%" class="accent-gradient-start" />
        <stop offset="100%" class="gradient-end" />
      </linearGradient>
    </svg>
  </div>
</div>
