@import "~@angular/material/theming";
@import "../../assets/styles/theme/theme-variables.scss";

@mixin gav-home-component-theme($theme) {
  app-home {
    .home {
      .painel-principal {
        .tribo {
          color: mat-color(map-get($theme, foreground), text, 0.1);
        }
      }

      .indicadores {
        .indicador {
          .nome {
            color: mat-color(map-get($theme, foreground), text, $text-opacity);
          }
        }
      }

      .detalhe {
        color: mat-color(map-get($theme, foreground), text, 0.1);
      }
    }
  }
}
