@import "../../assets/styles/theme/theme-variables.scss";
.home {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  .button-home {
    position: fixed;
    left: 32px;
    top: 32px;
  }
  .painel-principal {
    position: fixed;
    right: 0;
    top: 0;
    .imagem-principal {
      width: 60vw;
      visibility: hidden;
    }
    .tribo,
    .nome-tribo {
      position: absolute;
      font-weight: bold;
      font-size: 130px;
      z-index: -1;
    }
    .tribo {
      left: -40%;
      top: 43%;
    }
    .nome-tribo {
      left: -38%;
      top: 64%;
    }
  }
  .indicadores {
    position: fixed;
    display: flex;
    bottom: 40px;
    left: 40px;
    .indicador {
      flex-direction: column;
      margin-right: 2rem;
      display: flex;
      .numero {
        font-weight: bold;
        font-size: 2rem;
      }
      .nome {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  .detalhe {
    position: fixed;
    &-1 {
      width: 200px;
      bottom: 40px;
      right: 40px;
    }
    &-2 {
      width: 400px;
      left: 120px;
      top: 24px;
    }
  }
}
