<div class="container-full-page">
  <app-glide [glideOptions]="glideOptions">
    <app-glide-element>
      <mat-card class="mat-card-page mat-card--blurred eventos">
        <div class="conteudo">
          <div class="card-header">
            <span class="card-title"> Próximos eventos</span>
          </div>
          <section class="grid">
            <app-evento
              class="grid"
              [evento]="evento"
              *ngFor="let evento of eventos"
            >
            </app-evento>
          </section>
        </div>
      </mat-card>
    </app-glide-element>
  </app-glide>
</div>
