@import "../../../assets/styles/base/mixins";

.squad-apoio {
  padding-right: 200px;

  .conteudo {
    flex-direction: column;
    padding: 2.5rem;
    display: flex;
    height: 100%;
  }

  .clientes {
    display: flex;
    flex: 1;

    app-cliente {
      display: block;
      margin: 0.5rem;
      flex: 1;
    }
  }

  app-colaboradores {
    flex-direction: column;
    position: absolute;
    display: flex;
    width: 200px;
    bottom: 0;
    right: 0;
    top: 0;

    @include transition(width);

    &:hover {
      width: 100%;
    }
  }
}
