@import "~@angular/material/theming";

@function gav-theme(
  $primary-palette,
  $accent-palette,
  $warn-palette: null,
  $attention-palette: null,
  $success-palette: null,
  $isDark: true
) {
  @if ($attention-palette == null) {
    $attention-palette: mat-palette($mat-yellow);
  }
  @if ($success-palette == null) {
    $success-palette: mat-palette($mat-green);
  }

  $theme: null;
  @if ($isDark) {
    $theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
    $background-palette: map-get($theme, background);
    $background-palette: map-merge(
      $background-palette,
      (
        background: #000
      )
    );
    $theme: map-merge(
      $theme,
      (
        background: $background-palette
      )
    );
  } @else {
    $theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
  }
  @return map-merge(
    $theme,
    (
      attention: $attention-palette,
      success: $success-palette
    )
  );
}
